
a.btn_1, .btn_1{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff;
	background: #ed5434;
	cursor: pointer;
	padding: 7px 15px;
	display: inline-block;
	outline: none;
	font-size:13px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight:500;
}
a.btn_1:hover, .btn_1:hover{
	background: #333;
}

a.btn_1_outline, .btn_1_outline{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#ed5434;
	border:2px solid #ed5434;
	cursor: pointer;
	padding: 7px 15px;
	display: inline-block;
	outline: none;
	font-size:13px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight:500;
}
a.btn_1_outline:hover, .btn_1_outline:hover{
background: #333;
border:2px solid #333;
color:#fff;
}

a.btn_1.white, .btn_1.white  {background: #ed5434; color:#fff;}
a.btn_1.white:hover, .btn_1.white a:hover, .btn_1.white:hover  {background: #fff; color:#ed5434 !important;}

/*-------- 1.3 Structure --------*/

#container_7 .btn_1{
	font-size:16px;
}
#container_7 .btn_1:hover{
	color:#ed5434;
	background-color:#fff;
}