<div id="Fix_Part">
  <div class="booking-section-1 container-fluid">
    <div class="container_1">
      <div class="parallax-window" id="booking" data-parallax="scroll" data-image-src="img/sub_header_home.jpg" data-natural-width="1400" data-natural-height="550">
        <div id="subheader_home">
          <div id="sub_content">
            <div id="book_container">
              <form id="check_avail_home" (ngSubmit)="onSubmit()" #Part="ngForm">
                <div id="group_3">
                  <div id="container_5">
                    <label style="margin-left:5px">Location</label>
                    <input type="text" class="form-control" id="name_booking" placeholder="Where" style="border-radius: 12px;"
                           ngModel name="Location" required>
                  </div>
                </div>
                <div id="group_1">
                  <div id="container_1">
                    <label style="margin-left:5px">Arrival date</label>
                    <input matInput [matDatepicker]="picker_Arrival" class="form-control" style="border-radius: 12px"
                           placeholder="DD/MM/YY" ngModel name="Arrival_D"
                           [min]="this.DateNow()" (ngModelChange)="this.ChangeArrival($event)" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker_Arrival"></mat-datepicker-toggle>
                    <mat-datepicker #picker_Arrival></mat-datepicker>
                  </div>
                  <div id="container_2">
                    <label style="margin-left:5px">Departure date</label>
                    <input matInput [matDatepicker]="picker_Departure" class="form-control" style="border-radius: 12px"
                           placeholder="DD/MM/YY" ngModel name="Departure_D"
                           [min]="this.Arrival.DateDetermine" [disabled]="!this.Arrival.IsActive" readonly required>
                    <mat-datepicker-toggle matSuffix [for]="picker_Departure"></mat-datepicker-toggle>
                    <mat-datepicker #picker_Departure></mat-datepicker>
                  </div>
                </div>
                <div id="group_2">
                  <div id="container_3" style="text-align:center">
                    <label>Adults</label>
                    <div class="qty-buttons">
                      <input type="button" value="-" class="qtyminus" name="adults" (click)="ChangeAdults(false)">
                      <input type="text" name="adults" id="adults" class="qty form-control"
                             [(ngModel)]="this.Adults" name="Adults" required readonly>
                      <input type="button" value="+" class="qtyplus" name="adults" (click)="ChangeAdults(true)">
                    </div>
                  </div>
                </div>
                <div id="container_7">
                  <input type="submit" value="Check availability" class="btn_1" id="submit-booking">
                </div>
              </form>
              <div id="message-booking"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
