.Fix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  transition: 0.25s;
}

.Fix .Container_Image {
  background-color: black;
  position: absolute ;
  overflow: hidden;
  width: 100% ;
  height: 100%;
}

.Fix .Container_Image img {
  width: 100% ;
  height: 100%;
  filter: blur(6px);
}

.Fix .Container_Image .shadowRound {
  position: absolute;
  display: inline;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -1px 72px 5px black;
}

.Fix .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
.Fix .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  .Fix .options {
    min-width: 520px;
  }
  .Fix .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  .Fix .options {
    min-width: 440px;
  }
  .Fix .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  .Fix .options {
    min-width: 360px;
  }
  .Fix .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .Fix .options {
    min-width: 280px;
  }
  .Fix .options .option:nth-child(2),
  .Fix .options .option:nth-child(1){
    display: none;
  }

  .Fix .Container_Image img {
    filter: none;
  }
}
.Fix .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.Fix .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}
.Fix .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.Fix .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
.Fix .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.Fix .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.Fix .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.Fix .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.Fix .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.Fix .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.Fix .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.Fix .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
}

.Fix .options .option .label .icon img {
  width: 50%;
  height: 50%;
}

.Fix .options .option:nth-child(1) .label .icon img ,
.Fix .options .option:nth-child(2) .label .icon img{
  content: url(../../../Data_Sharing/Images/Farm.jpg);
}

.Fix .options .option:nth-child(3) .label .icon img,
.Fix .options .option:nth-child(4) .label .icon img{
  content: url(../../../Data_Sharing/Images/Chalet.jpg);
}

.Fix .options .option:nth-child(5) .label .icon img {
  content: url(../../../Data_Sharing/Images/Room.jpg);
}

.Fix .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.Fix .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.Fix .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.Fix .options .option .label .info .sub {
  transition-delay: 0.1s;
}

