<section class="parallax-window" id="short" data-parallax="scroll">
    <img src="http://www.ansonika.com/albert/img/sub_header_short.jpg" width="100%">
    <div id="subheader">
        <h1>Your favourite Facilities</h1>
</div><!-- End subheader -->
</section><!-- End section -->

<br>
<br>
<!-- 
	photos : Images[];//{id_photo : number , path_photo : string}[];
	rate : number ;
	created_at : string ;
	
	
	air_condition : number;
	coffee_machine : number;
	fridge : number ;
	tv : number ;
	wifi : number; -->
<div class="container margin_20"  >
    <div class="row" >
         <div class="col-lg-9 col-md-8">
<button class="btn_1" *ngIf="!check" (click)="checkSwitch()">Add Facility</button>
<br><br>
<mat-card style="width: 110%;" *ngIf="check">

<!-- <form class="myForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group" style="width: 40%;display:inline-block;">
               <button type="submit" class="btn btn-success" >Save</button>&nbsp;
                <button type="button" class="btn btn-danger" (click)="checkSwitch()">Cancel</button>
       <br><br>
      <label for="name">Name</label>
      <input type="text" class="form-control"  id="name" name="name" ngModel
        placeholder="Facility Name" >
    </div>
  &nbsp;&nbsp; &nbsp; &nbsp;
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="imagepath">Image URL</label> 
        <input type="text" class="form-control" id="imagepath"  ngModel
        name="imagepath"  placeholder="Image URL">
    </div>

   
     
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description"  ngModel
      name="description" rows="3" style="width: 83%;"></textarea>
    </div>
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="location">Location</label>
        <input type="text" class="form-control"  id="location" name="location"  ngModel
         placeholder="location of your facility" >
    </div> &nbsp;&nbsp; &nbsp; &nbsp;
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="type">Type</label><br>
        <select id="type" name="type" ngModel style="width: 100%;"> 
            <option>Chalet</option>
            <option>Farmer</option>
            <option>Hostel</option>
          </select>
    </div>
    
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="rooms">Room Number</label>
        <input type="number" id="rooms" name="rooms" ngModel placeholder="The number of rooms in your facility"
         class="form-control">
    </div> &nbsp;&nbsp; &nbsp; &nbsp;
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="adults" >Adult Number</label>
        <input type="number" id="adults" name="adults"  ngModel
         placeholder="The number of adults in your facility"
         class="form-control">
    </div>
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="cost">price</label>
        <input type="number" id="cost" name="cost"  ngModel
         placeholder="price per night/week/mounth"
         class="form-control">
    </div> &nbsp;&nbsp; &nbsp; &nbsp;





    <div class="form-group" >
       
        <input type="checkbox" name="wifi" ngModel (click)="checkingWIFI()"> &nbsp; &nbsp; &nbsp;<label for="wifi">WI-FI</label>
    </div>
    <div class="form-group">
        <input type="checkbox" name="tv" ngModel (click)="checkingTV()"> &nbsp; &nbsp; &nbsp; <label for="TV">TV</label>
    </div>
    <div class="form-group">
        <input type="checkbox" name="fridge" ngModel (click)="checkingFridge()"> &nbsp; &nbsp; &nbsp;<label for="fridge">Fridge</label>
    </div>
    <div class="form-group">
        <input type="checkbox" name="air_condition" ngModel (click)="checkingAir_cond()"> &nbsp; &nbsp; &nbsp; <label for="air_condition">Air_Condition</label>
    </div>
    <div class="form-group">
        <input type="checkbox" name="coffee_machine" ngModel (click)="checkingCoffee()"> &nbsp; &nbsp; &nbsp; <label for="coffee_machine">Coffee Machine</label>
    </div>

  </form> -->

  <span class="text-danger" *ngIf="(submitted)">some Field is Empty</span>

  <form class="myForm" (ngSubmit)="onSubmit()" [formGroup]="facilityForm">
    <div class="form-group" style="width: 83%;display:inline-block;">
               <button type="submit" class="btn btn-success" >Save</button>&nbsp;
                <button type="button" class="btn btn-danger" (click)="checkSwitch()">Cancel</button>
       <br><br>
      <label for="name">Name</label>
      <input type="text" class="form-control"  id="name"  formControlName="name" 
        placeholder="Facility Name" >
    </div>
  &nbsp;&nbsp; &nbsp; &nbsp;
  <br>

  <br>
    <div class="form-group" style="width: 83%;display:inline-block;">
        <label for="imagepath">Image URL</label> 
        <div class="col-xs-12" formArrayName="imagepath">
        <div *ngFor="let rec of controls let i =index"
         [formGroupName]="i">
        <input type="text" class="form-control"   formControlName="url"
          placeholder="Image URL">
          <img [src]="url" style="display: none;">
          <button class="btn btn-danger"style="width: 40px;margin-top:20px;" 
                     (click)="onDeleteIngredient(i)">X</button>
        </div>
    </div>
        <button type="button" class="btn_1" (click)="onAddImage()">Add More</button>
    </div>

   
   
     
    <div class="form-group">
      <label for="description" >Description</label>
      <textarea class="form-control" id="description" placeholder="decribe your facility"  formControlName="description" 
       rows="3" style="width: 83%;"></textarea>
    </div>
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="location">Location</label>
        <input type="text" class="form-control"  id="location"  formControlName="location"
         placeholder="location of your facility" >
    </div> &nbsp;&nbsp; &nbsp; &nbsp;
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="type">Type</label><br>
        <select id="type" style="width: 100%;" ngModel="Chalet" formControlName="type"> 
            <option>Chalet</option>
            <option>Farmer</option>
            <option>Hostel</option>
          </select>
    </div>
    
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="rooms" >Room Number</label>
        <input type="number" id="rooms" ngModel="1" formControlName="rooms" 
        placeholder="The number of rooms in your facility"
         class="form-control">
    </div> &nbsp;&nbsp; &nbsp; &nbsp;
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="adults" >Adult Number</label>
        <input type="number" id="adults" ngModel="1" formControlName="adults"
         placeholder="The number of adults in your facility"
         class="form-control">
    </div>
    <div class="form-group" style="width: 40%;display:inline-block;">
        <label for="cost">price</label>
        <input type="number" id="cost" ngModel="1" formControlName="cost"
         placeholder="price per night/week/mounth"
         class="form-control">
    </div> &nbsp;&nbsp; &nbsp; &nbsp;





    <div class="form-group" >
       
        <input type="checkbox"   (click)="checkingWIFI()"> &nbsp; &nbsp; &nbsp;<label for="wifi">WI-FI</label>
    </div>
    <div class="form-group">
        <input type="checkbox"   (click)="checkingTV()"> &nbsp; &nbsp; &nbsp; <label for="TV">TV</label>
    </div>
    <div class="form-group">
        <input type="checkbox"   (click)="checkingFridge()"> &nbsp; &nbsp; &nbsp;<label for="fridge">Fridge</label>
    </div>
    <div class="form-group">
        <input type="checkbox"   (click)="checkingAir_cond()"> &nbsp; &nbsp; &nbsp; <label for="air_condition">Air_Condition</label>
    </div>
    <div class="form-group">
        <input type="checkbox"  (click)="checkingCoffee()"> &nbsp; &nbsp; &nbsp; <label for="coffee_machine">Coffee Machine</label>
    </div>

  </form>



</mat-card>
</div></div></div>

<app-faciliy-item
*ngFor="let facEl of facilityOwners let i=index" 
[facilityOwner]="facEl"
[index]="i"
(onfacilityOwnersSelected)="onfacilityOwnersSelected(facEl)"
></app-faciliy-item>

<!-- 
<app-faciliy-itemAdd
*ngFor="let facEl of facilityOwnersAdd let i=index" 
[facilityOwnerAdd]="facEl"
[indexAdd]="i"
(onfacilityOwnersSelectedAdd)="onfacilityOwnersSelectedAdd(facEl)"
></app-faciliy-itemAdd> -->


<!-- 
<app-faciliy-item
*ngFor="let facEl of facilityOwnersAdd let i=index" 
[facilityOwnerAdd]="facEl"
[index]="i"
(onfacilityOwnersSelectedAdd)="onfacilityOwnersSelectedAdd(facEl)"
></app-faciliy-item> -->
