
@media (min-width: 992px) and (max-width: 1200px) {

	#sub_content h1{font-size:50px;}
}

@media (max-width: 991px) {

	.room_pic span, .room_pic.left span {
	position:absolute;
	bottom:0;
	left:0;
	}
}

@media (max-width: 767px) {
	.margin_60_35{padding-top:30px; padding-bottom:0;}
	h1.main_title,h2.main_title {font-size:32px;}
}

@media (max-width: 480px) {
	h1.main_title,h2.main_title {font-size:28px;}
	p.lead.styled { font-size:16px;}
}

@media (max-width: 767px) {
	h1.main_title,h2.main_title {font-size:32px;}
	p.lead.styled { font-size:16px;}
}

@media (max-width: 768px) {
	.mosaic_container .caption_2{font-size:14px;}
}

