<div class="Fix">
  <div class="card card-box">
    <div class="card-head">
      <header>Sanjay Singh</header>
      <div class="tools">
        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
      </div>
    </div>
    <div class="card-body no-padding height-9">
      <div class="row">
        <ul class="chat nice-chat chat-page small-slimscroll-style">
          <li class="in"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span> <a class="name" href="#">Sanjay Singh </a> <span class="datetime">at Mar 12, 2014 6:12</span>
              <span class="body"> Lorem ipsum dolor sit amet,consectetuer adipiscing elit </span>
            </div>
          </li>
          <li class="out"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span><span class="datetime">at Mar 12, 2014 6:13 </span> <a class="name" href="#">Kiran Patel</a>  <span class="body"> sed diam nonummy nibh euismod
														tincidunt ut </span>
            </div>
          </li>
          <li class="out"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span><span class="datetime">at Mar 12, 2014 6:13 </span> <a class="name" href="#">Kiran Patel</a>  <span class="body"> sed diam nonummy nibh euismod
														tincidunt ut </span>
            </div>
          </li>
          <li class="in"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span> <a class="name" href="#">Sanjay Singh </a> <span class="datetime">at Mar 12, 2014 6:12</span>
              <span class="body"> Lorem ipsum dolor sit amet,consectetuer adipiscing elit </span>
            </div>
          </li>
          <li class="out"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span><span class="datetime">at Mar 12, 2014 6:13 </span> <a class="name" href="#">Kiran Patel</a>  <span class="body"> sed diam nonummy nibh euismod
														tincidunt ut </span>
            </div>
          </li>
          <li class="in"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span> <a class="name" href="#">Sanjay Singh </a> <span class="datetime">at Mar 12, 2014 6:12</span>
              <span class="body"> Lorem ipsum dolor sit amet,consectetuer adipiscing elit </span>
            </div>
          </li>
          <li class="out"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span><span class="datetime">at Mar 12, 2014 6:13 </span> <a class="name" href="#">Kiran Patel</a>  <span class="body"> sed diam nonummy nibh euismod
														tincidunt ut </span>
            </div>
          </li>
          <li class="out"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span><span class="datetime">at Mar 12, 2014 6:13 </span> <a class="name" href="#">Kiran Patel</a>  <span class="body"> sed diam nonummy nibh euismod
														tincidunt ut </span>
            </div>
          </li>
          <li class="in"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span> <a class="name" href="#">Sanjay Singh </a> <span class="datetime">at Mar 12, 2014 6:12</span>
              <span class="body"> Lorem ipsum dolor sit amet,consectetuer adipiscing elit </span>
            </div>
          </li>
          <li class="out"><img src="assets/Images/avatar1.jpg" class="avatar" alt="">
            <div class="message">
              <span class="arrow"></span><span class="datetime">at Mar 12, 2014 6:13 </span> <a class="name" href="#">Kiran Patel</a>  <span class="body"> sed diam nonummy nibh euismod
														tincidunt ut </span>
            </div>
          </li>
        </ul>
        <div class="box-footer chat-box-submit">
          <form action="#" method="post">
            <div class="input-group">
              <input type="text" name="message" placeholder="Enter Chat" class="form-control">
              <span class="input-group-btn">
              <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-warning">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </span> </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
