/*===== BASE =====*/

.Fix_Body {
  background-color: #1dc1f8;
  margin: 3rem 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  transition: .3s;
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.Slider {
  transition: .3s;
  background-color: #fff;
  box-shadow: 0px 0px 19px #00000073;
}

.header__logo {
  color: #E6E7E9;
}

.header__toggle {
  font-size: 1.5rem;
  color: #E6E7E9;
  cursor: pointer;
}

/*===== NAV =====*/
/* Mobile Display */
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #070D1F;
    color: #E6E7E9;
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: 100;
    -webkit-transition: .5s;
    transition: .5s;
  }

  .nav__content {
    height: 0 !important;
    row-gap: 0 !important;
    text-align: center;
  }

  .nav__perfil {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
  }

  .M_N {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .M_N .Message ,
  .M_N .Notification {
    position: relative;
  }

  .M_N .Message .badge ,
  .M_N .Notification .badge {
    position: absolute;
    padding: 0px 4px;
    border-radius: 50px;
    background: red;
    color: white;
    font-size: 8px;
  }
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: .25rem;
  margin-bottom: .8rem;
  width: 56px;
  height: 56px;
  background-color: #3664F4;
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;
}

.nav__name {
  display: block;
  color: #E6E7E9;
}

.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: #E6E7E9;
}

/*Aparecer menu*/
.show {
  left: 50%;
  width: 50%;
}

/*Active menu*/
.active {
  color: #1dc1f8;
}

/*===== MEDIA QUERIES =====*/
/* PC */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: 3rem;
  }
  .header__logo, .header__toggle {
    display: none !important;
  }
  .nav {
    width: 100%;
  }

  .nav__content {
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
  }

  .nav__close {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 35px;
  }

  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img img {
    border-radius: 25px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 .25rem;
  }

  .nav__link {
    padding: .5rem .8rem;
    border-radius: .25rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }

  .header:not(.Slider) .nav__menu .nav__link {
    color: #fff;
  }

  .header.Slider .nav__menu .nav__link {
    color: #696969;
  }

  .nav__menu .nav__link:not(.active):hover {
    color: #1dc1f8 !important;
    transition-duration: .3s;
  }

  .nav__menu .nav__link.active {
    color: #1dc1f8 !important;
  }

  .nav__menu .nav__link:not(.active)::after{
    content: '';
    position: absolute;
    display: block;
    width : 0;
    height: 2px;
    margin-left: 6px;
    background-color: #1dc1f8 ;
    transition: width .3s;
  }

  .header:not(.Slider) .nav__menu .nav__link::after {
    margin-top: 8px
  }

  .header.Slider .nav__menu .nav__link::after {
    margin-top: 11px;
    height: 2px;
  }

  .nav__menu .nav__list .nav__item:nth-child(1) .nav__link:hover::after {
    width:51px;
  }

  .nav__menu .nav__list .nav__item:nth-child(2) .nav__link:hover::after {
    width:53px;
  }

  .nav__menu .nav__list .nav__item:nth-child(3) .nav__link:hover::after {
    margin-left: 10px;
    width:63px;
  }

  .M_N {
    font-size: 24px;
    color: white;
    display: flex;
    gap: 38px;
    margin-right: 7px;
  }

  .M_N .Message ,
  .M_N .Notification {
    position: relative;
  }

  .header:not(.Slider) .M_N .Message i ,
  .header:not(.Slider) .M_N .Notification i {
    font-size: 24px ;
    cursor: pointer ;
    color: #fff;
  }

  .header.Slider .M_N .Message i ,
  .header.Slider .M_N .Notification i {
    font-size: 24px ;
    cursor: pointer ;
    color: #696969;
  }

  .header .M_N .Message i:hover ,
  .header .M_N .Notification i:hover {
    color: #1dc1f8;
    transition-duration: .3s;
  }

  .M_N .Message .badge ,
  .M_N .Notification .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 0px 5px;
    border-radius: 50px;
    background: red;
    color: white;
    font-size: 13px;
  }

  .header:not(.Slider) .Login_SignUp .nav__list .nav__item .nav__link {
    cursor: pointer;
    color: #fff;
  }

  .header.Slider .Login_SignUp .nav__list .nav__item .nav__link {
    cursor: pointer;
    color: #696969;
  }

  .header .Login_SignUp .nav__list .nav__item .nav__link:hover {
    color: #1dc1f8 ;
    transition-duration: .3s;
  }

}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
