<mat-toolbar class="Fix" color="primary" #MainHeader> <!-- SliderShrink | SliderOpen -->
  <mat-toolbar-row class="Toolbar_Row">
    <button mat-icon-button (click)="Control_Side()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>App Logo</span>
    <div class="Icons">
      <ul class="List_Icons">
        <li *ngIf="IsAccountExist">
          <app-notification-icon *ngIf="this.ActiveIconNotification"></app-notification-icon>
          <button mat-icon-button
                  style="background-color: #ffffff38"
                  *ngIf="!this.ActiveIconNotification"
          >
            <mat-icon>notifications</mat-icon>
          </button>
          </li>
          <li *ngIf="IsAccountExist">
            <app-message-icon *ngIf="this.ActiveIconMessage"></app-message-icon>
            <button mat-icon-button
                    style="background-color: #ffffff38"
                    *ngIf="!this.ActiveIconMessage"
            >
              <mat-icon>mail</mat-icon>
            </button>
        </li>
        <li *ngIf="!IsAccountExist">
          <button mat-icon-button (click)="OpenRegister()">
            <mat-icon>account_circle</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<app-sidebar *ngIf="ActiveSide"></app-sidebar>
