<header class="header" #MainHeader> <!-- Slider -->
  <a href="#" class="header__logo">Jhon Doe</a>
  <i class="header__toggle fa fa-bars" id="nav-toggle"></i>
  <nav class="nav" id="nav-menu"> <!-- show -->
    <div class="nav__content bd-grid">
      <div class="nav__close">
        <i class="fa fa-times-circle" style="font-size:24px"></i>
      </div>

      <div class="nav__perfil" *ngIf="IsAccountExist != null">
        <div class="M_N">
          <div class="Message" (click)="Box_Open(false)">
            <i class="fa fa-envelope-o"></i>
            <span class="badge">{{this.Message_Array.length}}</span>
          </div>
          <div class="Notification" (click)="Box_Open(true)">
            <i class="fa fa-bell-o"></i>
            <span class="badge">{{this.Notification_Array.length}}</span>
          </div>
        </div>
        <div class="nav__img">
          <img [src]="this.IsAccountExist.ImagePath">
        </div>
      </div>
      <div style="position:absolute ;" *ngIf="this.Open_Box.IsActive">
        <app-BlockBox [AddInfo]="this.BlockBox_Info"></app-BlockBox>
      </div>

      <div class="Login_SignUp" *ngIf="IsAccountExist == null">
        <ul class="nav__list">
          <li class="nav__item"><a (click)="OpenRegister()" class="nav__link">Login</a> | </li>
          <li class="nav__item"><a (click)="OpenRegister()" class="nav__link">SignUp</a></li>
        </ul>
      </div>

      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link active">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
