.Fix {
  transition-duration: .3s;
  position: fixed;
  z-index: 2;
  background-color: transparent;
  min-height : 0 !important ;
}

.Fix.SliderShrink {
  transition-duration: .9s;
  box-shadow: #4e4e4e 253px 3px 17px;
  background-color: #11101d;
}

.Fix.SliderOpen {
  transition-duration: .9s;
  box-shadow: #4e4e4e 0px 3px 17px;
  background-color: #11101d;
}

.Toolbar_Row {
  height : 7vh ;
}

ul li {
  list-style: none;
}

.Icons {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: flex-end;
}

.Icons .List_Icons {
  display: flex ;
  flex-direction: row ;
  gap: 20px ;
}

.badge {
  font: initial;
  font-family: cursive ;
  font-size: 13px;
  position: absolute;
  top: 5px;
  right: 2px;
  padding: 0px 5px;
  border-radius: 50px;
  background: red;
  color: white;
}

::ng-deep .mat-menu-panel {
  margin-top: 5px;
}

.Box_Container {
  width: 279px;
  max-height: 292px;
  background: #e9f0f3;
  overflow-y: auto;
  overflow-x: hidden;
}

.Box_Container .Sample {
  position: relative;
  background: #fff;
  padding: 15px;
  border: 0px;
  border-style: solid;
  border-bottom-width: 1px;
  -moz-border-image: -moz-linear-gradient(right, #fff, #cedae0, #cedae0, #fff) 1 20%;
  -o-border-image: -o-linear-gradient(right, #fff, #cedae0, #cedae0, #fff) 1 20%;
  border-image: linear-gradient(to right, #fff 0%, #cedae0 40%, #cedae0 60%, #fff 100%) 1 20%;
}

.Box_Container .Sample.New {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #e9f0f3;
}

.Box_Container .Sample .Image-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.Box_Container .Sample .Image-wrapper .Image {
  display: inline-block;
  height: 32px;
  width: 32px;
  overflow: hidden;
  border-radius: 100%;
}

.Box_Container .Sample .Image-wrapper .Image .status-indicator {
  background-color: #eaecf4;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 100%;
  position: absolute;
  left: 37px;
  top: 40px;
  border: 0.125rem solid #fff;
}

.Box_Container .Sample .Image-wrapper .Image .status-indicator.bg-success {
  background-color: #66bb6a!important;
}

.Notification.Box_Container .Sample .Text {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
  color: #747f8b;
  cursor: pointer;
  font-size: 14px;
  word-spacing: 2px;
  line-height: 21px;
}

.Message.Box_Container .Sample .Text {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
  color: #747f8b;
  cursor: pointer;
  font-size: 12px;
  word-spacing: 2px;
  line-height: 21px;
}

.Notification.Box_Container .Sample .Text .Highlight {
  font-weight: bold;
}

.Message.Box_Container .Sample .Text .ClientName {
  font-weight: bold;
  font-size: 16px;
}

.Notification.Box_Container .Sample .TimeSend {
  font: 400 11px / 20px Roboto, "Helvetica Neue", sans-serif;
  position: absolute;
  right: 4px;
  bottom: 0;
  color: #00000078;
}

.Message.Box_Container .Sample .TimeSend {
  font: 400 11px / 20px Roboto, "Helvetica Neue", sans-serif;
  position: absolute;
  right: 4px;
  top : 0;
  color: #00000078;
}

.Box_Container::-webkit-scrollbar-track
{
  display: none
}

.Box_Container::-webkit-scrollbar
{
  display: none;
}

.Box_Container::-webkit-scrollbar-thumb
{
  display: none;
}

.dropdown-item {
  line-height: 1.3rem;
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem 7px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  text-decoration: none;
  border: 0;
}

.dropdown-item:hover {
  background-color: #00000017;
}

.text-center {
  text-align : center !important ;
}

.small {
  font-size:80% ;
  font-weight:400 ;
}

.text-gray-500 {
  color : #b7b9cc !important ;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-bottom: 0;
}

.Sample.Loading {
  padding : 5px !important ;
}

.Sample.Loading mat-spinner {
  margin: 0 auto;
}

.Sample.Loading p {
  text-align: center;
  font-size: 80%;
}

@media (max-width: 400px) {
  ::ng-deep .mat-menu-panel {
    margin-top: 3px;
  }
}
