<div class="Fix">
  <div class="card card-box">
    <div class="card-head">
      <header>User List</header>
    </div>
    <div class="card-body no-padding height-9" scrollTrack #Scroller='ScrollTracking' >
      <div class="collapse collapse-xs collapse-sm show chat-page" id="open-chats">
        <div class="form-group mt-20 is-empty">
          <input type="text" value="" placeholder="Search..." class="form-control">
          <span class="material-input"></span></div>
        <ul class="list-unstyled" id="inbox">
          <li class="ItemUser" routerLinkActive="active" *ngFor="let User of this.Client_Info">
            <a [routerLink]="[User.UserID]" class="active">
              <div class="media">
                <div class="media-left thumb thumb-sm">
                  <img alt="" class="media-object chat-img" [src]="User.ImagePath">
                  <div class="status-indicator bg-success" *ngIf="User.IsActive"></div>
                </div>
                <div class="media-body">
                  <p class="media-heading">
                    <span class="text-strong">{{User.UserName}}</span>
                    <span class="badge bg-danger" *ngIf="User.UnReadMessage != 0">{{User.UnReadMessage}}</span>
                    <small class="pull-right">{{User.DateLastMessage | DateConvert:1:this.Current_Date}}</small>
                  </p>
                  <small class=" message">{{User.LastMessage | MaxString:40}}</small>
                </div>
              </div>
            </a>
          </li>
          <li class="DoneUser" *ngIf="IsDone">
            <p>No More User</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
